/* 
Dark pink: #a50a51
Dark blue: #0494cb
Light blue: #12b5ea
Dark green: #558920
Light green: #86af15
Orange: #ff6f0c
Gray: #636467
*/

/* Set form colors */
:root {
  --theme: #a50a51;
  --font: 'Raleway';
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-weight: 600;
}